# name: widget-server pipe DockerHub

# on:
#   pull_request:
#     branches:
#       - main
#     types: 
#       - opened
#       - reopened
#       - labeled
#       - unlabeled
#       - synchronize

# jobs:
#   run-ci-docker-hub:
#     name: Build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#         id: checkout

#       - name: Configure Node
#         id: configure-node
#         uses: actions/setup-node@v4
#         with:
#           node-version: 22.15

#       - name: Install pnpm
#         id: install-pnpm
#         uses: pnpm/action-setup@v4
#         # with:
#           # version: 8
  
#       - name: Install dependencies
#         id: install-dependencies
#         run: pnpm install --frozen-lockfile
  
#       - name: Run Tests
#         run: pnpm run test

#       - name: Login to DockerHub
#         id: login-docker-hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}

#       - name: Generate tag
#         id: generate-tag
#         run: |
#           SHA=$(echo $GITHUB_SHA | head -c7)
#           echo "sha=$SHA" >> $GITHUB_OUTPUT

#       - name: Build and push the image to DockerHub
#         id: build-push-image
#         env:
#           DOCKERHUB_REPOSITORY: ${{ vars.DOCKERHUB_REPOSITORY }}
#           IMAGE_TAG: ${{ steps.generate-tag.outputs.sha }}
#         run: |
#           docker build -t $DOCKERHUB_REPOSITORY:$IMAGE_TAG .
#           docker push $DOCKERHUB_REPOSITORY:$IMAGE_TAG
